<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<title>angelicrosey.diy</title>
	</head>
	<body>

		<!-- navbar with angelicrosey on the left side -->
		<nav>
			<h1>angelicrosey.diy</h1>
			<ul>
				<li><a href="#about">About</a></li>
				<li><a href="#projects">Projects</a></li>
				<li><a href="#blog">Blog</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</nav>
		<main>
			<header>
				<h1>Rose van Hoepen</h1>
				<p>My personal website</p>
			</header>
			<section class="main">
				<h1>About me</h1>
				<p>
					Hi, I'm Rose. I'm 20 years old and studying Cyber Security.
					I'm a Security Engineer and System Administrator. 
					I love to play guitar, sing and tamper with software.
				</p>
				<br>
				<p>				
					I'm mostly interested in securing servers and networks.
					I also like to test my work by performing pentests on my own servers.
					Currently I'm also having fun with tampering software and Reverse Engineering.
				</p>
			</section>
			<section class="projects">
				<h1>Projects</h1>
				<div class="grid">
					<div class="card">
						<h2>Project 1</h2>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							Aliquam nec odio nec nunc ultricies tincidunt. 
							Phasellus nec nunc ultricies tincidunt. 
							Phasellus nec nunc ultricies tincidunt.
						</p>
						<!-- example links (could be multiple) -->
						 <div class="links">
							<a href="https://example.com">Site</a>
							<a href="https://example.com">Source</a>
						 </div>
					</div>
					<div class="card">
						<h2>Project 2</h2>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							Aliquam nec odio nec nunc ultricies tincidunt. 
							Phasellus nec nunc ultricies tincidunt. 
							Phasellus nec nunc ultricies tincidunt.
						</p>
					</div>
					<div class="card">
						<h2>Project 3</h2>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							Aliquam nec odio nec nunc ultricies tincidunt. 
							Phasellus nec nunc ultricies tincidunt. 
							Phasellus nec nunc ultricies tincidunt.
						</p>
					</div>
				</div>
			</section>
			<section class="blog">
				<h1>Blog posts</h1>
				<div class="grid-layout">
					<div class="card">
						<h2>Blog post 1</h2>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							Aliquam nec odio nec nunc ultricies tincidunt. 
							Phasellus nec nunc ultricies tincidunt. 
							Phasellus nec nunc ultricies tincidunt.
						</p>
					</div>
					<div class="card">
						<h2>Blog post 2</h2>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							Aliquam nec odio nec nunc ultricies tincidunt. 
							Phasellus nec nunc ultricies tincidunt. 
							Phasellus nec nunc ultricies tincidunt.
						</p>
					</div>
					<div class="card">
						<h2>Blog post 3</h2>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							Aliquam nec odio nec nunc ultricies tincidunt. 
							Phasellus nec nunc ultricies tincidunt. 
							Phasellus nec nunc ultricies tincidunt.
						</p>
					</div>
				</div>
			</section>
			<section class="contact">
				<h1>Contact me</h1>
				<p>
					You can contact me via email at <a href="mailto:arty@duck.com">arty@duck.com</a>
				</p>
			</section>
		</main>
	</body>

	<style>
		@import url('https://fonts.cdnfonts.com/css/cascadia-code');
		:root{
			--primary-color: #f9f9f9;
			--secondary-color: #f593c7;
			--tertiary-color: #000000;
			--darkish-color: #110c14;
		}

		*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: 'Cascadia Code', sans-serif;
		}

		body{
			background-color: var(--darkish-color);
			color: var(--primary-color);
		}

		nav{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: .75rem 2rem;
			background-color: var(--tertiary-color);
			color: var(--primary-color);
		}

		nav h1{
			color: var(--secondary-color);
			font-size: 1.5rem;
		}

		nav ul{
			display: flex;
		}

		nav ul li{
			list-style: none;
			margin-right: 1rem;
		}

		nav ul li a{
			text-decoration: none;
			color: var(--primary-color);
			transition: all .3s;
		}

		nav ul li a:hover{
			color: var(--secondary-color);
		}

		main{
			padding: 2rem;
		}

		header{
			text-align: center;
		}

		section{
			margin-top: 4rem;
			max-width: 50%;
			margin-left: auto;
			margin-right: auto;
		}

		section h1{
			font-size: 2rem;
			margin-bottom: 1rem;
			color: var(--secondary-color);
		}

		section p{
			font-size: 1.25rem;
		}

		.grid{
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 1.5rem;
		}

		.grid-layout{
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 1.5rem;
		}

		.card{
			background-color: var(--tertiary-color);
			color: var(--primary-color);
			padding: 1rem;
			border-radius: .75rem;
			box-shadow: 0 0 10px var(--secondary-color);
			transition: transform .3s;
		}

		.card h2{
			font-size: 1.5rem;
			margin-bottom: 1rem;
		}

		.card p{
			font-size: 1rem;
			margin-bottom: 1rem;
		}

		.card .links{
			display: flex;
			justify-content: space-between;
		}

		.card a{
			color: var(--secondary-color);
			text-decoration: none;
			transition: all .3s;
		}

		.card a:hover{
			text-decoration: underline;
			color: var(--primary-color);
		}

		.card:hover{
			transform: scale(1.05);
		}

		.contact a{
			color: var(--secondary-color);
			text-decoration: none;
		}

		.contact a:hover{
			text-decoration: underline;
		}
		
		@media screen and (max-width: 768px){
			section{
				max-width: 100%;
			}
		}

		@media (max-width: 1024px){
			section{
				max-width: 80%;
			}
			.grid{
				grid-template-columns: 1fr;
			}

			.grid-layout{
				grid-template-columns: 1fr;
			}

			nav{
				flex-direction: column;
				align-items: center;
				font-size: 1.5em;
				padding: 1rem 2rem;
			}

			nav ul{
				margin-top: 1rem;
			}
		}

	</style>
</html>
