<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>angelicrosey.diy</title>
	</head>
	<body>
		<nav>
			<a href="mailto:arty@duck.com">contact-></a>
		</nav>
		<div class="main">
			<h1>
				<pre id="glow">
█████╗ ███╗   ██╗ ██████╗ ███████╗██╗     ██╗ ██████╗██████╗  ██████╗ ███████╗███████╗██╗   ██╗██████╗ ██╗██╗   ██╗
██╔══██╗████╗  ██║██╔════╝ ██╔════╝██║     ██║██╔════╝██╔══██╗██╔═══██╗██╔════╝██╔════╝╚██╗ ██╔╝██╔══██╗██║╚██╗ ██╔╝
███████║██╔██╗ ██║██║  ███╗█████╗  ██║     ██║██║     ██████╔╝██║   ██║███████╗█████╗   ╚████╔╝ ██║  ██║██║ ╚████╔╝ 
██╔══██║██║╚██╗██║██║   ██║██╔══╝  ██║     ██║██║     ██╔══██╗██║   ██║╚════██║██╔══╝    ╚██╔╝  ██║  ██║██║  ╚██╔╝  
██║  ██║██║ ╚████║╚██████╔╝███████╗███████╗██║╚██████╗██║  ██║╚██████╔╝███████║███████╗   ██║██╗██████╔╝██║   ██║   
╚═╝  ╚═╝╚═╝  ╚═══╝ ╚═════╝ ╚══════╝╚══════╝╚═╝ ╚═════╝╚═╝  ╚═╝ ╚═════╝ ╚══════╝╚══════╝   ╚═╝╚═╝╚═════╝ ╚═╝   ╚═╝   
				</pre>
			</h1>
			<div class="info">
				<p>
					cyber sec nerd;
					<br>
					she/her, 20 y/o, known as Rose or arty, trans girly
					<br>
					security engineer/pentester, sometime I code and tamper with game engines for fun.
					<br>
					I also play the guitar and sing time to time. Retired cheat developer.
				</p>
			</div>
			<div class="table">
				<div class="socials">
					<span class="socialsLinks">
						<a target="_blank" href="https://x.com/Rosey_x_x" id="glow2">twitter</a>
					</span>
					<br>
					<span class="socialsLinks">
						<a target="_blank" href="https://github.com/Roseyyx" id="glow2">github</a>
					</span>
					<br>
					<span class="socialsLinks">
						<a target="_blank" href="https://discordapp.com/users/302455006056022016" id="glow2">discord</a>
          </span>
          <br>
          <span class="socialsLinks">
            <a href="blog" id="glow2">blog</a>
          </span>
        </div>
			</div>
		</div>

	</body>
	<style>
		:root {
			--background: rgb(14, 2, 8);
			--text: rgb(255, 255, 255);
		}

		@font-face {
			font-family: "Unicode";
			src: url('/fonts/unifont.woff2') format('woff2');
			font-weight: normal;
			font-style: normal;
			font-display: swap;
		}

		body {
			background-color: var(--background);
			color: var(--text);
			font-family: "Unicode", sans-serif;
			margin: auto;
			overflow-wrap: break-word;
			padding: 0;
			justify-content: center;
			align-items: center;
			display: flex;
			height: 100vh;
		}

		nav {
			position: absolute;
			top: 0;
			right: 0;
      		padding: 20px;
      		font-size: 1.25em;
		}

		nav a {
			color: white;
			text-decoration: none;
			margin-right: 20px;
			transition: all 0.25s;
		}

		nav a:hover {
			color: #fda5bd;
			text-shadow: 0 0 5px #fda5bd, 0 0 10px #fda5bd, 0 0 15px #fda5bd, 0 0 20px #fda5bd;
		}

		.main {
			margin: 0;
			color: white; /* Text color */
			padding: 60px;
			text-align: center;
		}

		.info {
			font-size: 1.5em;
		}

		#glow {
			font-size: .8em;
			color: #fff;
			text-shadow:
				0 0 5px #fda5bd,
				0 0 10px #fda5bd,
				0 0 15px #fda5bd,
				0 0 20px #fda5bd;
		}
		
		#glow2{
			color: #fda5bd;
			transition: all 0.25s;
			text-decoration: none;
			border-bottom: dotted 2px #fda5bd;
		}

		#glow2:hover {
			text-shadow:
				0 0 5px #fda5bd,
				0 0 10px #fda5bd,
				0 0 15px #fda5bd,
				0 0 20px #fda5bd;
		}

		.table{
			display: inline-flex;
			text-align: center;
			font-size: 1.2em;
    	}

		@media only screen and (max-width: 768px) {
			#glow {
				font-size: .2em;
			}
			.info p{
				font-size: .6em;
			}
			#glow2 {
				font-size: .8em;
			}
		}

	</style>
</html>
